# name: CI devops Pipeline

# on:
#   push:
#     branches:
#       - main

# jobs:

#   build-and-create-ec2:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout Code
#         uses: actions/checkout@v3

#       # ----------------------
#       # Docker Build & Push
#       # ----------------------

#       - name: Login to Docker Hub
#         uses: docker/login-action@v2
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build Docker Image
#         run: docker build -t ${{ secrets.DOCKER_USERNAME }}/myapp:latest .

#       - name: Push Docker Image
#         run: docker push ${{ secrets.DOCKER_USERNAME }}/myapp:latest


#       # ----------------------
#       # Terraform EC2 Creation
#       # ----------------------

#       - name: Setup Terraform
#         uses: hashicorp/setup-terraform@v3

#       - name: Terraform Init
#         working-directory: ./terraform
#         run: terraform init

#       - name: Terraform Apply
#         working-directory: ./terraform
#         run: terraform apply -auto-approve -var="key_name=${{ secrets.EC2_KEY_NAME }}"
#         env:
#           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
#           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

#       - name: Show EC2 Public IP
#         working-directory: ./terraform
#         run: terraform output public_ip
name: DevOps CI/CD Pipeline

on:
  push:
    branches: ["main"]

env:
  IMAGE_NAME: shivanimalgaya10/devops-sre3
  TF_VERSION: 1.6.6

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:

    # 1. Checkout Code
    - name: Checkout Repository
      uses: actions/checkout@v4

    # 2. Docker Login
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Build Docker Image
    - name: Build Docker Image
      run: docker build -t $IMAGE_NAME:${{ github.sha }} .

    # 4. Push Docker Image
    - name: Push Docker Image
      run: docker push $IMAGE_NAME:${{ github.sha }}

    # 5. Check AWS Credentials
    - name: Check AWS Identity
      run: aws sts get-caller-identity
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    # 6. Setup Terraform
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: $TF_VERSION

    # 7. Terraform Init
    - name: Terraform Init
      working-directory: terraform
      run: terraform init

    # 8. Terraform Apply
    - name: Terraform Apply
      working-directory: terraform
      run: terraform apply -auto-approve -var-file="terraform.tfvars"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    # 9. Get EC2 Public IP
    - name: Get Server IP
      id: tf_output
      working-directory: terraform
      run: |
        echo "ip=$(terraform output -raw public_ip)" >> $GITHUB_OUTPUT

    # 10. Setup SSH Key
    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_KEY_NAME }}" > ~/.ssh/first_key_pair.pem
        chmod 600 ~/.ssh/first_key_pair.pem

    # 11. Install Ansible
    - name: Install Ansible
      run: |
        sudo apt update
        sudo apt install -y ansible

    # 12. Add EC2 to known_hosts
    - name: Add EC2 to known_hosts
      run: |
        mkdir -p ~/.ssh
        ssh-keyscan -H ${{ steps.tf_output.outputs.ip }} >> ~/.ssh/known_hosts

    # 13. Run Ansible Playbook
    - name: Run Ansible
      run: |
        ANSIBLE_HOST_KEY_CHECKING=False ansible-playbook -i "${{ steps.tf_output.outputs.ip }}," \
        --private-key ~/.ssh/first-keypair.pem \
        -u ubuntu \
        ansible/deploy.yml \
        --extra-vars "image=$IMAGE_NAME:${{ github.sha }}"